* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

/* header start  */
div#logo {
  background-color: #2874f0;
  display: flex;
  flex-wrap: wrap;
}

div.logobox {
  display: flex;
}

a.flipicon {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  padding: 10px;
  padding: 10px;
}

.fliplogo {
  color: white;
}

img.fliplogo {
  margin-bottom: -6px;
  border: none;
  margin-top: 5px;
}

span {
  color: white;
  font-style: italic;
  font-size: small;
}

span.underline {
  font-size: 11px;
  font-weight: bold;
}

span.underline:hover {
  text-decoration: underline;
}

.insearch {
  border: none;
  border-radius: 2px 0 0 2px;
  display: flex;
  width: 466px;
  height: 36px;
  text-align: center;
  outline: none;
}

.searchchild {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 11px;
}

input.field {
  color: #2874f0;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
  height: 32px;
  padding: 5px 40px;
  border: 1px solid #dbdbdb;
}

#cart {
  list-style: none;
  font-style: normal;
  font-weight: 600;
}

a.cartbox {
  text-decoration: none;
}

div.action-button {
  display: flex;
  align-items: center;
  gap: 52px;
  flex-wrap: wrap;
}

.mobile {
  display: none;
}


/* cardlist Start */

div#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid blue; */
  padding: 10px;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 64px;
  height: 64px;
}

img.img {
  margin-right: 15px;
}

child>p {
  font-size: 14px;
  font-weight: 500;
}

.parent>p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.imgicon {
  display: flex;
  align-items: center;
  width: 10px;
  height: 13px;
  transition: transform 0.5s;
  transform: rotate(-90deg);
}

img.imgicon:hover {
  transform: rotate(-270deg);
  fill: #2874f0;
  cursor: pointer;
}

p:hover {
  cursor: pointer;
  color: #2874f0;
}

.child {
  display: flex;
  align-items: center;
  gap: 6px;
}

.anchorlist {
  text-decoration: none;
  color: #000000;
}

a.anchorlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* =========================================================== */
/* Banner-list slider  */
div.card-container {
  background: white;
}

#inner {

  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.images-wrapper {
  display: flex;
  animation: slider 8s ease infinite;
  animation-delay: 6s;
}

.banner {
  box-sizing: border-box;
  padding: 10px 10px;
  object-fit: contain;
  width: -webkit-fill-available;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  17%,
  33% {
    transform: translateX(-100%);
  }

  50%,
  66% {
    transform: translateX(-200%);
  }

  83%,
  100% {
    transform: translateX(-300%);
  }
}

/* -------------------------banner end------------ */

/* ITEM LIST */
.mainlist {
  margin: 0px;
  padding: 7px;
  /* border: 2px solid blue; */
}

.dealtop {
  padding: 15px 20px;
}

h2.deal {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  align-content: center;
}

.button a {
  background: #2874f0;
  color: white;
  font-style: normal;
  text-decoration: none;

  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
}

/* list card */
div.mainlist {
  background-color: white;
  margin: 12px 3px;
}

.card {
  width: 130px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 20%;
  flex-grow: initial;
}

.text-success {
  color: green;
}

.text-disabled {
  color: #afafaf;
}

.secondary-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  /* ::-webkit-scrollbar:
  width: 0 !important; */
  align-content: flex-start;
  justify-content: space-between;
  margin: 20px;
}

img {
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

/* border: 1px solid white; */


/* Section 2 (About flipkart ) */

div.section2 h1 {
  padding-top: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #878787;
}

div.section2 {
  font-family: "Roboto", sans-serif;
  color: #878787;
}

div.section2 h2 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Footer Section */

div.mainfooter {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;

  background-color: #172337;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  margin-bottom: 10px;
}

div.foothead {
  padding: 3px;
  margin-top: 8px;
  color: #878787;
  font-size: 12px;
  font-weight: 400;
  /* margin-bottom: 9px; */
}

div.footer {
  display: flex;
  flex-direction: column;
}

a.infooter {
  padding: 2px;
  color: white;
}

div.rv {
  position: fixed;
  bottom: 12px;
  right: 5px;
  background-color: ghostwhite;
}

div.rv:hover {
  border-bottom: 1px solid darkolivegreen;
  border-radius: 13px;
  cursor: pointer;
}

svg:hover {
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background: white;
  padding: 15px;

  font-weight: 600;
  display: none;
  position: absolute;
  /* overflow: auto; */
  /* box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4); */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #000000;
  background-color: whitesmoke;
}

button {
  border: none;
  color: #fff;
  background: #2874f0;
  font-weight: 800;
  cursor: pointer;
}

/* ===============================================
 */

.ham {
  display: none;
}